@import "tailwindcss";

@theme {
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(circle at center, #1e2530 0%, #0b1015 100%);
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}